#pass-device {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--color-water-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 10000;
}

.pass-device-text {
  font-size: 1.3rem;
  color: var(--color-white);
}

#pass-device-btn {
  min-width: 50%;
  box-shadow: 0 0.25rem 0.25rem 0 var(--color-light-blue);
  margin-top: 1rem;
}

#pass-device-btn:hover {
  min-width: 50%;
  border-color: var(--color-white);
  box-shadow: 0 0.25rem 0rem 0 var(--color-white);
}