@import 'reset.css';
@import 'gameboard.css';
@import 'ship_setup.css';
@import 'ship_images';
@import 'page.css';
@import 'setup_players.css';
@import 'log';
@import 'header';

:root {
  --grid-item-size: 1.5625rem;
  --grid-size: 15.625rem;

  --color-black: #293241;
  --color-white: #faf9f9;
  --color-dark-blue: #001d3d;
  --color-light-blue: #118ab2;
  --color-water-blue: #1ca3ec;
  --color-brown: #cb997e;
  --color-green: #2a9d8f;
  --color-light-green: #46cebd;
  --color-red: #e63946;

  --shadow-card: 0 0.38rem 0.38rem rgba(0, 0, 0, 0.25);
  --shadow-card-hover: 0 0.2rem 0.2rem var(--color-light-blue);
  --block-shadow-card: 0px 0.25rem 0px rgba(17, 138, 178, 0.5);
}

body {
  font-family: 'Electrolize', sans-serif;
  background: url('../assets/wave.svg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hidden {
  display: none !important;
}

.title {
  font-size: 2.25rem;
}
.subtitle {
  font-size: 2rem;
}

.title,
.subtitle {
  margin: 1rem 0;
  text-transform: uppercase;
  color: var(--color-dark-blue);
}

.btn {
  background-color: var(--color-black);
  border: 0.13rem solid var(--color-light-blue);
  color: var(--color-light-blue);
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-right: 0.5rem;
  cursor: pointer;
  box-shadow: var(--block-shadow-card);
  font-size: 1.3rem;
  margin: 1rem 1rem;
}

.btn:hover {
  box-shadow: var(--shadow-card-hover);
  color: var(--color-white);
}

.btn:first-child {
  margin-left: 0;
}

.btn:last-child {
  margin-right: 0;
}
